<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to "BRANDEIS", root_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", '/'%></li>
            <li><%= link_to "Instructors",  '/instructors' %></li>
            <li><%= link_to "Subjects", '/subjects' %></li>
            <li><%= link_to "Courses", '/courses' %></li>
          </ul>
        </nav>
      </div>
    </header>