<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <div class="container">
        <nav>
          <%= link_to "BRANDEIS", root_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "Home", '/'%></li>
            <li><%= link_to "Instructors",  instructors_path %></li>
            <li><%= link_to "Subjects", subjects_path %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Search", search_path %></li>
            <li><%= link_to "Logout", logout_path %></li>

          <% else %>
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </nav>